/* base */
@import "base/reset";
@import "base/typography";
/* utils */
@import "utils/variables";
@import "utils/mixins";
/* layout */
@import "layout/header";
@import "layout/footer";
/* components */
@import "components/navigation";

body {
  background-color: #333;
  color: #eee;
  height: 10000px;
}

.inner {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: inset 0 0 10px red;
}

.visual {
  margin-top: 100px;
  &__text {
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    margin: 30px 0;
  }
  &__scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
    text-transform: capitalize;
    .scroll-down-image {
      width: 50px;
      animation: upAndDown 1s infinite;
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-scroll {
  margin-bottom: 200px;
  .item {
    color: #000;
    display: inline;
    margin: 5px;
    line-height: 1.2;
    font-size: 30px;
    &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 5px solid #000;
      border-radius: 50%;
    }
  }
}

.item#on {
  color: #eee;
  &::before {
    border: 5px solid #eee;
  }
}

.scrolling-image {
  position: relative;
  box-shadow: inset 0 0 10px red;
}

.scrolling-image img {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
}
